@charset "UTF-8";
:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Manrope", sans-serif;
  --third-family: "Inter", sans-serif;
  --font3: "Inter", sans-serif;
  --urbanGray: rgba(69, 71, 71);
  --urbanGray-05: rgba(69, 71, 71, 0.55);
  --urbanGray-08: rgba(69, 71, 71, 0.8);
  --lightestGray: #f5f5f5;
  --lightestGray-05: rgba(245, 245, 245, 0.55);
  --softPeach: #fee5bc;
  --white: #fff;
  --white-08: rgba(255, 255, 255, 0.8);
  --white-07: rgba(255, 255, 255, 0.7);
  --white-06: rgba(255, 255, 255, 0.6);
  --white-03: rgba(255, 255, 255, 0.3);
  --white-02: rgba(255, 255, 255, 0.2);
  --white-01: rgba(255, 255, 255, 0.1);
  --white-005: rgba(255, 255, 255, 0.05);
  --black: #000;
}

/* inter-100 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/inter-v18-cyrillic_latin-100.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-200 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/inter-v18-cyrillic_latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-300 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/inter-v18-cyrillic_latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v18-cyrillic_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-500 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v18-cyrillic_latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v18-cyrillic_latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v18-cyrillic_latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-800 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/inter-v18-cyrillic_latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-900 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-v18-cyrillic_latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* manrope-200 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/manrope-v15-cyrillic_latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* manrope-300 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/manrope-v15-cyrillic_latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* manrope-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/manrope-v15-cyrillic_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* manrope-500 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/manrope-v15-cyrillic_latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* manrope-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/manrope-v15-cyrillic_latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* manrope-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/manrope-v15-cyrillic_latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* manrope-800 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/manrope-v15-cyrillic_latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: rgba(0, 0, 0, 0);
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
  scrollbar-gutter: stable;
  scroll-padding-top: var(--header-height);
}

html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 375px;
  position: relative;
  overflow-x: hidden;
  font-style: normal;
  max-width: 100%;
  width: 100%;
  background-color: var(--black);
  color: var(--lightestGray);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 129%;
}
@media (max-width: 767px) {
  body {
    font-size: 15px;
    line-height: 1.33;
  }
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

figure {
  margin-inline: 0;
}

input,
textarea,
a,
select,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

input,
textarea {
  max-width: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-style: inherit;
}

address {
  font-style: normal;
  font-family: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

textarea {
  resize: none;
}

svg * {
  transition-property: fill, stroke;
}

[class*=copyrights-pane] {
  display: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--second-family);
  color: var(--balck);
  font-weight: 500;
  line-height: 117%;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden:not(:focus),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.color-inherit {
  color: inherit;
}

.overflow-hidden {
  max-width: 100%;
  overflow-x: hidden;
}

.object-scroll {
  max-width: 100%;
  overflow: auto;
}
.object-scroll a {
  display: block;
  width: -moz-max-content;
  width: max-content;
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.reset {
  padding: 0;
  margin: 0;
}

.social {
  transition: all 0.3s;
}

input,
textarea {
  max-width: 100%;
  width: 100%;
}

.to-right {
  max-width: -moz-max-content !important;
  max-width: max-content !important;
  margin-left: auto !important;
}
@media (max-width: 767px) {
  .to-right {
    max-width: initial !important;
    margin-left: initial !important;
  }
}

@media (max-width: 767px) {
  .mobile-full {
    max-width: 100% !important;
    width: 100% !important;
  }
}
/* Скрывает элементы на экранах с максимальной шириной 767px */
@media (max-width: 767px) {
  .mobile-hide {
    display: none !important;
  }
}
/* Скрывает элементы на экранах с шириной от 768px до 1379px */
@media (min-width: 768px) and (max-width: 1023px) {
  .tablet-hide {
    display: none !important;
  }
}
/* Скрывает элементы на экранах с минимальной шириной 1380px */
@media (min-width: 1380px) {
  .desktop-hide {
    display: none !important;
  }
}
.click {
  transition: transform 0.2s;
}
.click:hover, .click:focus {
  transform: translateY(-1px);
}
.click:active {
  transform: translateY(2px);
  transition: transform 0.1s ease;
}

.wrapper {
  max-width: 1220px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 30px;
}

.title {
  margin-top: 0;
  font-style: normal;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 50px;
  line-height: 104%;
  color: var(--lightestGray);
  margin-bottom: 25px;
}
.title span {
  color: var(--softPeach);
}
.title--two {
  font-size: 50px;
  margin-bottom: 20px;
}
.title--mod {
  color: var(--urbanGray);
}
@media (max-width: 767px) {
  .title {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .title--two {
    font-size: 22px;
    margin-bottom: 15px;
  }
}

.button {
  text-decoration: none;
  cursor: pointer;
  max-width: -moz-max-content;
  max-width: max-content;
  text-align: center;
  transition: all 0.3s;
  box-shadow: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  line-height: 1;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 17px;
  color: #80541d;
  border-radius: 15px;
  padding: 25px 45px;
  height: 65px;
  box-shadow: 0 6px 12px 0 rgba(27, 8, 8, 0.54), 0 22px 22px 0 rgba(27, 8, 8, 0.47), 0 50px 30px 0 rgba(27, 8, 8, 0.28), 0 89px 36px 0 rgba(27, 8, 8, 0.08), 0 140px 39px 0 rgba(27, 8, 8, 0.01), 0 3px 0 0 #90774e;
  background: linear-gradient(90deg, #ebb877 0%, #fee5bc 50%, #facd96 100%);
}
.button--mod {
  border: 1px solid var(--white-005);
  border-radius: 15px;
  padding: 20px 30px;
  -webkit-backdrop-filter: blur(45px);
          backdrop-filter: blur(45px);
  background: rgba(0, 0, 0, 0.05);
  font-family: var(--second-family);
  color: rgba(255, 255, 255, 0.85);
  box-shadow: none;
}
.button.isActive {
  color: var(--white);
}
.button.isActive::before {
  background-color: var(--green);
}
@media (max-width: 1023px) {
  .button {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .button--icon-solo {
    width: 50px;
    height: 50px;
  }
  .button--large {
    height: 50px;
  }
  .button--read-more {
    height: 50px;
  }
  .button--small {
    height: 45px;
  }
}

.logo {
  max-width: 360px;
  display: grid;
  gap: 32px;
  grid-template-columns: auto 1fr;
}
.logo__link {
  display: block;
  max-width: 150px;
  position: relative;
  display: flex;
  align-items: center;
}
.logo__link::after {
  content: "";
  display: block;
  position: absolute;
  right: -16px;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #fff;
}
.logo__label {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 11px;
  line-height: 136%;
  color: rgba(245, 245, 245, 0.55);
}

.best-masters {
  display: flex;
  align-items: flex-end;
}
.best-masters__photo {
  width: 120px;
  display: block;
}
.best-masters__icon {
  position: relative;
  margin-left: -25px;
}

.heart {
  display: inline-block;
  overflow: visible;
  width: 11px;
  height: 11px;
  position: relative;
  margin-inline: 6px;
}
.heart::before {
  content: "";
  width: 39px;
  height: 37px;
  background-image: url(../img/icon-heart.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -13px;
  left: -15px;
}
.heart--red::before {
  background-image: url(../img/icon-heart-red.svg);
}

.menu-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-button span,
.menu-button span::after,
.menu-button span::before {
  flex-shrink: 0;
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: var(--white);
  z-index: 2;
}
.menu-button span::after,
.menu-button span::before {
  content: "";
  display: block;
  transition: 0.3s;
}
.menu-button span::before {
  transform: translateY(-6px);
  width: 18px;
}
.menu-button span::after {
  transform: translateY(6px);
  width: 12px;
}

.navigation {
  max-width: 100%;
  width: 100%;
  color: inherit;
}
.navigation__list {
  display: flex;
  flex-wrap: wrap;
  max-width: calc(100% + 32px);
  margin-right: -32px;
  justify-content: center;
}
.navigation__item {
  margin-right: 32px;
  max-width: -moz-max-content;
  max-width: max-content;
}
.navigation__link {
  display: inline-block;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #fff2f4;
  padding: 16px 0;
  opacity: 0.55;
}
.navigation__item:has(ul) {
  grid-row: span 2;
}
.navigation__item--to-last {
  grid-column: 3;
}
.navigation__sub-link {
  font-size: 16px;
  line-height: 2;
  color: inherit;
  position: relative;
  display: grid;
  gap: 8px;
  align-items: center;
  grid-template-columns: auto 1fr;
}
.navigation__sub-link::before {
  content: "";
  display: block;
  width: 16px;
  height: 2px;
  background-color: var(--green);
}
@media (max-width: 767px) {
  .navigation__link {
    font-size: 16px;
  }
}

.section-label {
  display: flex;
  align-items: center;
  max-width: -moz-max-content;
  max-width: max-content;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  border: 1px solid rgba(69, 71, 71, 0.15);
  border-radius: 100px;
  padding: 10px 20px;
  height: 42px;
  padding: 6px 20px;
  color: rgba(69, 71, 71, 0.15);
}

.card-item {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: rgba(255, 242, 244, 0.55);
  height: auto;
  width: 100%;
}
.card-item__image {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.card-item__image img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.card-item__wrapper {
  position: relative;
  padding: 50px 45px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.card-item__name {
  display: block;
  margin: 0;
  margin-bottom: auto;
  flex-grow: 2;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 30px;
  line-height: 110%;
  color: #ebf3ff;
}
.card-item__text {
  margin-top: 25px;
  margin-bottom: 0;
}
.card-item .best-masters {
  max-width: -moz-max-content;
  max-width: max-content;
  margin-left: auto;
  margin-bottom: 50px;
}
.card-item__number {
  display: block;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 0;
  margin-bottom: 15px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: rgba(255, 242, 244, 0.25);
}
.card-item--mini {
  color: rgba(255, 242, 244, 0.55);
}
.card-item--mini__wrapper {
  padding: 40px 35px;
}
.card-item--mini__name {
  font-size: 27px;
}

.form__grid {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(2, 1fr);
}
.form__grid--three {
  grid-template-columns: repeat(3, 1fr);
}
.form__input input {
  border: 1px solid var(--line);
  outline: none;
  border-radius: 20px;
  padding: 0px 16px;
  width: 100%;
  height: 56px;
  font-size: 16px;
}
.form__input input:hover, .form__input input:active, .form__input input:focus {
  border: 1px solid var(--green);
}
.form__input label {
  font-weight: 400;
  font-size: 15px;
  display: inline-block;
  margin-bottom: 13px;
}
.form__agree {
  grid-column: span 2;
  font-weight: 400;
  font-size: 15px;
  align-self: center;
  display: flex;
  align-items: center;
}
.form__agree a {
  color: var(--green);
}
.form__agree a:hover, .form__agree a:active, .form__agree a:focus {
  text-decoration: underline;
}
.form__agree label {
  position: relative;
  padding-left: 47px;
}
.form__agree label::after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 9px;
  width: 16px;
  height: 16px;
  opacity: 0;
  transition: opacity 0.3s;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 7L6.75758 13L15 1' stroke='white' stroke-width='2' stroke-linecap='round'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-size: contain;
}
.form__agree label::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 0;
  transition: all 0.3s;
  background: var(--white);
  border: 1px solid var(--line);
  border-radius: 12px;
  width: 32px;
  height: 32px;
}
.form__agree input:checked + label::before {
  background: var(--green);
  border: 1px solid var(--green);
}
.form__agree input:checked + label::after {
  opacity: 1;
}
.form__button {
  max-width: 100%;
  width: 100%;
}
@media (max-width: 767px) {
  .form__grid {
    gap: 12px;
  }
  .form__grid--three {
    grid-template-columns: repeat(1, 1fr);
  }
  .form__agree {
    grid-column: initial;
  }
  .form__input input {
    height: 50px;
  }
  .form__agree {
    padding-top: 13px;
    padding-bottom: 13px;
  }
  .form__agree a {
    color: var(--violet);
  }
  .form .button {
    height: 50px;
  }
}

.header {
  transition: all 0.3s;
  background-color: transparent;
  color: var(--white);
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  max-width: 100%;
  font-size: 14px;
  padding-top: 30px;
  padding-bottom: 10px;
}
.header__top {
  padding-top: 20px;
  padding-bottom: 20px;
  transition: all 0.3s;
}
.header__top .header__contacts {
  max-width: 150px;
  margin-left: auto;
}
.header__grid {
  display: grid;
  align-items: center;
  gap: 16px;
  grid-template-columns: auto 1fr auto;
  width: 100%;
  max-width: 100%;
}
.header__logo {
  margin-right: 16px;
}
.header__buttons {
  max-width: -moz-max-content;
  max-width: max-content;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, auto);
}
.header__navigation {
  margin-right: auto;
  max-width: -moz-max-content;
  max-width: max-content;
}
.header__contacts {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(1, 1fr);
}
.header__contacts p {
  margin: 0;
}
.header__bottom {
  display: none;
}
.header__mobile-menu-button {
  display: none;
}
.header .menu-button {
  display: none;
}
.header .wrapper {
  max-width: 1415px;
}
@media (max-width: 1279px) {
  .header__grid {
    grid-template-columns: auto 1fr auto auto;
  }
  .header__navigation {
    display: none;
  }
  .header__mobile-menu-button {
    display: flex;
  }
  .header__desktop-menu-button {
    display: none;
  }
}
@media (max-width: 1023px) {
  .header__logo {
    margin-right: 8px;
  }
}
@media (max-width: 767px) {
  .header__top {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .header__grid {
    grid-template-columns: auto 1fr;
  }
  .header__contacts {
    display: none;
  }
  .header__callback {
    display: none;
  }
  .header__logo {
    margin-right: 14px;
  }
  .header__buttons {
    gap: 10px;
    max-width: -moz-max-content;
    max-width: max-content;
    margin-left: auto;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section__header {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 60px;
}
.section__header-col {
  grid-column: 6/12;
}
.section__card-group {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  max-width: -moz-max-content;
  max-width: max-content;
}
.section__card-group--right {
  max-width: -moz-max-content;
  max-width: max-content;
  margin-left: auto;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 20px;
}
.section__card-group--left {
  max-width: -moz-max-content;
  max-width: max-content;
  margin-right: auto;
  grid-template-columns: repeat(3, 1fr);
}
.section__subtitle {
  margin: 0;
}
.section .wrapper {
  position: relative;
}
.section .section-label {
  position: absolute;
  top: 0;
  left: 0;
}

.sections-group {
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 32px;
  padding-inline: 20px;
  margin-top: -32px;
  position: relative;
  background-color: #fff;
  background-image: url(../img/bg/texture.png);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 767px) {
  .sections-group {
    padding-top: 65px;
    padding-bottom: 55px;
  }
}

.mobile-nav {
  background-color: var(--balck);
  color: var(--white);
  padding-top: 130px;
  padding-bottom: 45px;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  top: -100vw;
  width: 100%;
  z-index: 99;
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.mobile-nav__list {
  padding-bottom: 32px;
  margin-bottom: 38px;
  position: relative;
}
.mobile-nav__list:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: -48px;
  right: -48px;
  width: calc(100% + 48px + 48px);
  height: 1px;
  background-color: var(--white-02);
}
.mobile-nav__item {
  border-bottom: 1px solid var(--white-02);
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr auto;
  align-items: center;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 7px;
}
.mobile-nav__item:last-of-type {
  border-bottom: none;
}
.mobile-nav__link {
  font-weight: 500;
  font-size: 24px;
  position: relative;
  display: grid;
  gap: 20px 16px;
  align-items: center;
  grid-template-columns: auto 1fr;
}
.mobile-nav__link::before {
  content: "";
  display: block;
  width: 32px;
  height: 4px;
  background-color: var(--green);
}
.mobile-nav .button {
  transition: all 0.3s;
  outline: none;
}
.mobile-nav__sub-list {
  grid-column: span 2;
  order: 3;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 30px;
  display: none;
}
.mobile-nav__sub-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--white-07);
  display: grid;
  gap: 8px;
  align-items: center;
  grid-template-columns: auto 1fr;
  transition: all 0.3s;
}
.mobile-nav__sub-link::before {
  content: "";
  display: block;
  width: 16px;
  height: 2px;
  background-color: var(--green);
}
.mobile-nav__item:has(ul) .button {
  transform: rotate(90deg);
}
.mobile-nav__footer {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(2, 1fr);
}
.mobile-nav__footer-col {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(1, 1fr);
}
.mobile-nav__item.isActive .mobile-nav__link {
  color: var(--green);
}
.mobile-nav__item.isActive .mobile-nav__sub-list {
  display: grid;
}
.mobile-nav__item.isActive .button {
  transform: rotate(-90deg);
}
.mobile-nav__call-back {
  display: none;
}
@media (max-width: 1023px) {
  .mobile-nav__list:after {
    left: -40px;
    right: -40px;
    width: calc(100% + 40px + 40px);
  }
}
@media (max-width: 767px) {
  .mobile-nav {
    padding-top: 90px;
  }
  .mobile-nav__list {
    padding-bottom: 20px;
  }
  .mobile-nav__list:after {
    left: -20px;
    right: -20px;
    width: calc(100% + 20px + 20px);
  }
  .mobile-nav__item {
    display: block;
    padding-top: 17px;
    padding-bottom: 16px;
  }
  .mobile-nav .button {
    display: none;
  }
  .mobile-nav__link {
    font-size: 20px;
    gap: 0;
    grid-template-columns: 1fr;
  }
  .mobile-nav__link::before {
    width: 15px;
    height: 3px;
    position: absolute;
    left: -20px;
  }
  .mobile-nav__sub-list {
    margin-bottom: 0;
    margin-top: 6px;
  }
  .mobile-nav__footer {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
  .mobile-nav__footer-col {
    grid-template-columns: repeat(1, 1fr);
  }
  .mobile-nav__call-back {
    display: flex !important;
    width: 100%;
    max-width: 100%;
  }
}

.hero {
  min-height: 100vh;
  background-color: #000000;
  color: #ffffff;
  background-image: url(../img/hero/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 180px;
  padding-bottom: 135px;
}
.hero__content {
  max-width: 560px;
}
.hero__text {
  margin: 0;
  margin-bottom: 32px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 129%;
  color: rgba(245, 245, 245, 0.55);
  max-width: 280px;
}
.hero__text b {
  font-weight: 600;
  color: rgba(245, 245, 245, 0.9);
}
.hero .title {
  text-wrap: balance;
}
.hero .best-masters {
  margin-bottom: 15px;
}

.advantages {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 129%;
  color: rgba(69, 71, 71, 0.8);
  padding-top: 130px;
}
.advantages .title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 50px;
  color: #454747;
  margin: 0;
  margin-bottom: 25px;
}

.steps {
  background-color: var(--black);
  background-image: url(../img/bg/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border-radius: 32px;
  padding-top: 130px;
  padding-bottom: 555px;
}
.steps .section-label {
  color: rgba(245, 245, 245, 0.35);
  border: 1px solid rgba(245, 245, 245, 0.35);
}

.reviews {
  padding-bottom: 140px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 129%;
  color: rgba(69, 71, 71, 0.8);
  padding-top: 130px;
}
.reviews .title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 50px;
  color: #454747;
  margin: 0;
  margin-bottom: 25px;
}
.reviews__grid {
  display: grid;
  gap: 32px;
  grid-template-columns: 460px 1fr;
  position: relative;
}
.reviews__grid::before {
  content: "";
  position: absolute;
  bottom: -88px;
  left: -80px;
  right: -80px;
  height: 315px;
  background-image: url(../img/reviews/bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
}
.reviews__col-left {
  position: relative;
}
.reviews__col-right {
  position: relative;
}
.reviews__slider-min {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, 1fr);
}
.reviews__slider-text {
  margin-bottom: 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 129%;
  color: rgba(69, 71, 71, 0.55);
  font-style: normal;
}
.reviews__slider-text span {
  display: flex;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-bottom: 20px;
  font-family: var(--font3);
  font-weight: 400;
  font-size: 18px;
  color: #454747;
  border: 1px solid rgba(69, 71, 71, 0.05);
  border-radius: 100px;
  padding: 15px 20px;
  height: 50px;
  line-height: 1;
}
.reviews__slider-text h3 {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 35px;
  line-height: 100%;
  color: #454747;
}
.reviews__slider-text cite {
  font-style: normal;
}
.reviews__slider-text a {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.footer {
  background-color: var(--balck);
  color: var(--white);
  font-size: 14px;
  padding-top: 50px;
  padding-bottom: 40px;
}
.footer__grid {
  display: grid;
  gap: 14px 32px;
  grid-template-columns: 3fr 6fr 3fr;
}
.footer__contacts {
  max-width: -moz-max-content;
  max-width: max-content;
  margin-left: auto;
  display: grid;
  gap: 6px;
  justify-items: end;
  margin-bottom: 12px;
}
.footer__bottom {
  grid-column: span 3;
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr auto;
  width: 100%;
  align-items: center;
}
.footer .copyright {
  max-width: -moz-max-content;
  max-width: max-content;
  margin-left: auto;
}
.footer .navigation__list {
  grid-template-columns: repeat(3, 1fr);
}
.footer .navigation__item:has(ul) {
  grid-row: span 3;
}
@media (max-width: 1279px) {
  .footer {
    padding-top: 40px;
  }
  .footer__grid {
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    align-items: flex-start;
  }
  .footer__logo {
    grid-column: span 3;
  }
  .footer__navigation {
    grid-column: span 9;
  }
  .footer .mini-nav__list {
    justify-content: flex-end;
  }
  .footer__contacts {
    grid-column: span 8;
    max-width: 100%;
    margin-left: initial;
    display: grid;
    gap: 5px 32px;
    justify-items: initial;
    margin-bottom: 0;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .footer__bottom {
    grid-column: span 4;
    gap: 5px;
    grid-template-columns: 1fr;
    justify-items: end;
    text-align: right;
    margin-left: auto;
  }
}
@media (max-width: 1023px) {
  .footer__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 32px;
  }
  .footer__logo {
    display: none;
  }
  .footer__navigation {
    grid-column: span 2;
  }
  .footer__contacts {
    grid-column: span 2;
  }
  .footer__bottom {
    grid-column: span 2;
    grid-template-columns: repeat(2, 1fr);
    justify-items: initial;
    text-align: initial;
    margin-left: initial;
    margin-top: 11px;
  }
  .footer .mini-nav__list {
    justify-content: initial;
  }
}
@media (max-width: 767px) {
  .footer {
    padding-top: 25px;
    padding-bottom: 35px;
  }
  .footer__grid {
    display: block;
  }
  .footer__navigation {
    margin-bottom: 24px;
  }
  .footer .navigation__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__contacts {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    margin-bottom: 24px;
  }
  .footer__bottom {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 0;
  }
  .footer .navigation__item:has(ul) {
    grid-row: 3/6;
    grid-column: 1;
  }
}

.modal {
  position: fixed;
  z-index: 9999;
  display: flex;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s, visibility 0.3s;
  inset: 0;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  background-color: var(--modal-bg);
  color: var(--balck);
}
.modal__body {
  position: relative;
  width: 835px !important;
  margin: 0 auto;
  overflow: hidden;
  padding: 32px 48px 48px;
  background: var(--white);
  border-radius: 20px;
}
.modal__title {
  font-size: 32px;
  margin-bottom: 8px;
}
.modal__title::before {
  top: 19px;
  height: 4px;
}
.modal__text {
  margin: 0;
  font-weight: 500;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 156%;
}
.modal__close {
  position: absolute;
  top: 22px;
  right: 22px;
  display: block;
  width: -moz-max-content;
  width: max-content;
  padding: 10px;
  color: var(--modal-icon);
  border: none;
  transition: color 0.3s;
  cursor: pointer;
  background-color: transparent;
}
.modal__close svg {
  display: block;
}
.modal__close svg path {
  stroke: currentColor;
}
.modal__close:hover, .modal__close:active, .modal__close:focus {
  color: var(--green);
}
.modal.active {
  pointer-events: initial;
  visibility: visible;
  opacity: 1;
}
@media (max-width: 950px) {
  .modal__body {
    position: relative;
    width: 100% !important;
    max-width: 100% !important;
  }
}
@media (max-width: 767px) {
  .modal__body {
    padding: 17px 20px 30px;
  }
  .modal__title {
    font-size: 28px;
    line-height: 125%;
  }
  .modal__title::before {
    width: 270px;
  }
  .modal__close {
    top: 0;
    right: 0;
  }
  .modal__close svg {
    scale: 0.8;
  }
}

.header-sticky .header {
  background-color: var(--black);
  padding-top: 10px;
  padding-bottom: 10px;
}
.header-sticky .header__top {
  padding-top: 16px;
  padding-bottom: 16px;
}
.header-sticky .header__top .header__contacts {
  margin-top: -5px;
  margin-bottom: -5px;
}
@media (max-width: 767px) {
  .header-sticky .header__top {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.mobile-nav-open {
  overflow: hidden;
}
.mobile-nav-open .mobile-nav {
  top: 0;
  visibility: initial;
  opacity: initial;
  pointer-events: initial;
}
.mobile-nav-open .header__top {
  border-bottom: 1px solid var(--white-02);
  background-color: var(--balck);
}
.mobile-nav-open .menu-button span {
  background-color: transparent;
}
.mobile-nav-open .menu-button span:after {
  transform: rotate(45deg);
  width: 24px;
}
.mobile-nav-open .menu-button span:before {
  transform: rotate(-45deg);
  width: 24px;
}
.mobile-nav-open .mobile-nav {
  right: 0;
}/*# sourceMappingURL=main.css.map */