.call-to-action {
  margin-inline: 20px;
  border-radius: 20px;
  background-color: #fff;
  color: rgba(69, 71, 71, 0.8);

  .title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 50px;
    color: #454747;
    margin: 0;
    margin-bottom: 25px;
  }
}
