.call-to-action {
  margin-inline: 20px;
  border-radius: 20px;
  background-color: #fff;
  color: rgba(69, 71, 71, 0.8);
  background-image: url(../img/call-to-action/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 130px;
  padding-bottom: 100px;
  margin-bottom: 20px;
  background-position: left top;

  .title {
    color: #454747;
    margin-bottom: 25px;
  }

  .section-label {
    -webkit-backdrop-filter: blur(51px);
    backdrop-filter: blur(51px);
    color: rgb(48 48 48 / 65%);
    border: 1px solid rgb(48 48 48 / 31%);
    background-color: #ffffff8a;
}

  .section__header-col {
    grid-column: 6/13;
  }

  .form {
    margin-top: 50px;
    padding: 40px;
    border-radius: 25px;
    backdrop-filter: blur(55px);
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid #fff;
  }

  @media (max-width: 1279px) {
    padding-top: 500px;
  }

  @media (max-width: 767px) {
    background-image: url(../img/call-to-action/bg-mob.png);
    padding-top: 65px;
    padding-bottom: 345px;
    background-position: bottom center;

    .form {
      margin-top: 28px;
      padding: 0;
      background: transparent;
      border: none;
      backdrop-filter: none;
    }

    .form__info {
      font-size: 13px;
      color: #ffffff;
      font-size: 12px;
      line-height: 125%;
      text-align: center;
      color: rgba(69, 71, 71, 0.45);
    }
  }
}
