.footer {
  padding-top: 50px;
  padding-bottom: 40px;
  background-image: url(../img/footer/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  overflow: hidden;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 129%;
  color: rgba(245, 245, 245, 0.25);

  &__grid {
    display: grid;
    gap: 14px 32px;
    grid-template-columns: 3fr 6fr 3fr;
  }

  .section-label {
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(245, 245, 245, 0.45);
    color: rgba(245, 245, 245, 0.45);
    backdrop-filter: blur(35px);
  }

  &__contacts {
    display: grid;
    gap: 32px;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-bottom: 25px;
  }
  &__contacts-link {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 45px;
    line-height: 116%;
    color: rgba(245, 245, 245, 0.65);
    text-decoration: none;
    position: relative;
    max-width: max-content;
    transition: all 0.3s;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      height: 1px;
      width: 100%;
      transition: all 0.3s;
      border-bottom: 1px dashed rgba(245, 245, 245, 0.25);
    }
    &:hover {
      color: #fff;
      &:after {
        border-bottom: 1px dashed #fff;
      }
    }
  }
  .section__footer {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(3, auto);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 129%;
    color: rgba(245, 245, 245, 0.25);
    width: 100%;
  }
  &__copy {
    margin: 0;
  }
  .section__header-col {
    grid-column: 7/13;
  }

  @media (max-width: 1279px) {
    .footer__contacts-link {
      font-size: 32px;
    }
  }

  @media (max-width: 767px) {
    background-image: url(../img/footer/bg-mob.jpg);
    background-size: cover;
    background-position: bottom center;
    padding-bottom: 60px;

    .footer__contacts {
      gap: 12px;
      grid-template-columns: 1fr;
      margin-bottom: 16px;
    }
    .footer__contacts-link {
      font-size: 25px;
    }
    .title {
      max-width: 290px;
      text-wrap: balance;
      margin-bottom: 50px;
    }
    .section__footer {
      grid-template-columns: 1fr;
      gap: 6px;
      margin-top: 16px;
    }
    .section__body {
      margin-bottom: 90px;
    }
  }
}
