.hero {
  min-height: 100vh;
  background-color: #000000;
  color: #ffffff;
  background-image: url(../img/hero/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 180px;
  padding-bottom: 135px;
  background-position: right;
  &__content {
    max-width: 560px;
  }

  &__text {
    margin: 0;
    margin-bottom: 32px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 129%;
    color: rgba(245, 245, 245, 0.55);
    max-width: 280px;

    b {
      font-weight: 600;
      color: rgba(245, 245, 245, 0.9);
    }
  }

  .title {
    text-wrap: balance;
  }

  .best-masters {
    margin-bottom: 15px;
  }

  @media (max-width: 1279px) {
    padding-top: 340px;
    min-height: initial;

  }

  @media (max-width: 767px) {
    padding-top: 130px;
    background-position: center;
  }
}
