.mobile-nav {
  background-color: var(--black);
  color: var(--white);
  padding-top: 90px;
  padding-bottom: 45px;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  top: -100vw;
  width: 100%;
  z-index: 99;
  transition: all 0.3s;
  background-image: url(../img/mobile-nav/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;

  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__list {
    margin-bottom: 32px;
    position: relative;
  }
  &__footer {
    margin-top: auto;
  }
  &__item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr auto;
    align-items: center;
    width: 100%;
    &:last-of-type {
      border-bottom: none;
    }
  }
  &__link {
    position: relative;
    display: inline-block;
    padding: 12px 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: #fff2f4;

    &::before {
      content: "";
      display: block;
      width: 32px;
      height: 4px;
      background-color: var(--green);
    }
  }

  .social-list {
    margin-bottom: 23px;
    margin-inline: auto;
  }

  .button {
    transition: all 0.3s;
    outline: none;
    max-width: 100%;
    width: 100%;
    margin-bottom: 10px;
  }
}
