// Служебные стили
.modal {
  position: fixed;
  z-index: 9999;
  display: flex;
  width: 100%;
  height: 100%;
  transition:
    opacity 0.3s,
    visibility 0.3s;
  inset: 0;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  background-color: var(--modal-bg);
  color: var(--black);

  &__body {
    position: relative;
    width: 500px !important;
    margin: 0 auto;
    padding: 32px 40px 45px;
    background: var(--black);
    border-radius: 25px;
    background-image: url(../img/modal/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  &__title {
    margin: 0;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 25px;
    line-height: 120%;
    color: #fff2f4;
    margin-bottom: 20px;
    max-width: 280px;

  }

  &__close {
    position: absolute;
    top: 22px;
    right: 22px;
    display: block;
    width: max-content;
    padding: 10px;
    color: var(--modal-icon);
    border: none;
    transition: color 0.3s;
    cursor: pointer;
    background-color: transparent;

    svg {
      display: block;

      path {
        stroke: currentColor;
      }
    }

    &:hover,
    &:active,
    &:focus {
      color: var(--modal-accent);
    }
  }

  .form__info {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 115%;
    text-align: center;
    color: rgba(245, 245, 245, 0.45);


  }
  .form__info a {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: rgba(254, 229, 188, 0.65);
  }

  &.active {
    pointer-events: initial;
    visibility: visible;
    opacity: 1;
  }

  .form__grid {
    display: block;
  }
  .form__item {
    margin-bottom: 10px;
  }
  .form input {
    backdrop-filter: blur(55px);
    background: rgba(0, 0, 0, 0.25);
    border: 1px solid var(--white-01);
    color: #ffffff;
  }

  @media (max-width: 950px) {
    &__body {
      position: relative;
      width: 100% !important;
      max-width: 100% !important;
    }
  }

  @media (max-width: 767px) {
    &__body {
      padding: 40px 20px;
    }
    &__title {
      font-size: 22px !important;
      line-height: 125%;
      &::before {
        width: 270px;
      }
    }
    &__close {
      top: 6px;
      right: 6px;

      svg {
        scale: 0.8;
      }
    }
  }
}
