.reviews {
  padding-bottom: 140px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 129%;
  color: rgba(69, 71, 71, 0.8);
  padding-top: 130px;

  .title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 50px;
    color: #454747;
    margin: 0;
    margin-bottom: 25px;
  }

  &__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: 460px 1fr;
    position: relative;
    align-items: flex-end;

    &::before {
      content: "";
      position: absolute;
      bottom: -116px;
      left: -80px;
      right: -80px;
      height: 315px;
      background-image: url(../img/reviews/bg.png);
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 0;
      border-radius: 25px;
    }
  }

  &__col-left {
    position: relative;
  }

  &__col-right {
    position: relative;
  }

  &__slider-min {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);
  }

  &__slider-text {
    margin-bottom: 40px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 129%;
    color: rgba(69, 71, 71, 0.55);
    font-style: normal;

    span {
      display: flex;
      max-width: max-content;
      margin-bottom: 20px;
      font-family: var(--font3);
      font-weight: 400;
      font-size: 18px;
      color: #454747;
      border: 1px solid rgba(69, 71, 71, 0.05);
      border-radius: 100px;
      padding: 15px 20px;
      height: 50px;
      line-height: 1;
      transition: all 0.3s;

      &:hover {
        background: #6a0406c7;
        color: #fff;
      }
    }

    h3 {
      display: block;
      margin: 0;
      margin-bottom: 20px;
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 35px;
      line-height: 100%;
      color: #454747;
    }

    cite {
      font-style: normal;
    }

    a {
      text-decoration: underline;
      text-decoration-skip-ink: none;
    }
  }

  .reviews__support {
    display: none;
  }

  @media (max-width: 1279px) {
    padding-top: 55px;
    padding-bottom: 55px;

    .reviews__grid::before {
      left: 0;
      right: 0;
      bottom: -6px;
      height: 210px;
    }

    .reviews__grid {
      grid-template-columns: 350px auto;
    }
  }

  @media (max-width: 767px) {
    padding-bottom: 46px;
    .reviews__grid {
      display: block;
    }

    .reviews__grid::before {
      left: -20px;
      right: -20px;
      bottom: -22px;
      height: 175px;
    }

    .reviews__slider-text h3 {
      font-size: 25px;
    }

    .reviews__slider-text {
      font-size: 14px;
    }

    .reviews__slider-text span {
      display: none;
    }

    .reviews__slider-big {
      margin-bottom: 20px;
    }
    .reviews__slider-min {
      margin-bottom: 15px;
    }

    .reviews__support {
      max-width: 225px;
      margin: 0;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 12px;
      line-height: 125%;
      color: #fff2f4;
      display: grid;
      gap: 12px;
      grid-template-columns: auto 1fr;
    }
  }
}
