.reviews {
  padding-bottom: 140px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 129%;
  color: rgba(69, 71, 71, 0.8);
  padding-top: 130px;

  .title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 50px;
    color: #454747;
    margin: 0;
    margin-bottom: 25px;
  }
  &__slide {
    display: grid;
    gap: 40px;
    grid-template-columns: auto 1fr;
    position: relative;
  }
  &__group {
    position: relative;
    padding-bottom: 117px;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: -80px;
      right: -80px;
      height: 315px;
      background-image: url(../img/reviews/bg.png);
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 0;
      border-radius: 25px;
    }
  }

  &__photo-big {
    border-radius: 25px;
    overflow: hidden;
    max-width: 460px;
    width: 100%;
    img {
      width: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }
  &__thumbs {
    max-width: calc(100% - 460px - 40px);
    margin-left: auto;
    position: absolute;
    bottom: 117px;
    right: 0;
  }

  // &__grid {
  //   display: flex;
  //   position: relative;
  //   align-items: flex-end;

  //   &::before {
  //     content: "";
  //     position: absolute;
  //     bottom: -116px;
  //     left: -80px;
  //     right: -80px;
  //     height: 315px;
  //     background-image: url(../img/reviews/bg.png);
  //     background-repeat: no-repeat;
  //     background-size: cover;
  //     z-index: 0;
  //     border-radius: 25px;
  //   }
  // }

  // &__col-left {
  //   position: relative;
  //   width: 460px;
  // }

  // &__col-right {
  //   position: relative;
  //   width: calc(100% - 460px);
  //   margin-left: 32px;
  // }
  // &__slider-big {
  //   border-radius: 25px;

  // }

  &__slider-min {
    width: 100%;
    .swiper {
      width: 100%;
    }
    // .swiper-slide {
    //   width: 100%;
    // }
  }

  &__text {
    margin-bottom: 40px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 129%;
    color: rgba(69, 71, 71, 0.55);
    font-style: normal;

    blockquote {
      margin: 0;
      max-height: 110px;
      overflow-y: auto;
    }

    span {
      display: flex;
      max-width: max-content;
      margin-bottom: 20px;
      font-family: var(--font3);
      font-weight: 400;
      font-size: 18px;
      color: #454747;
      border: 1px solid rgba(69, 71, 71, 0.05);
      border-radius: 100px;
      padding: 15px 20px;
      height: 50px;
      line-height: 1;
      transition: all 0.3s;

      &:hover {
        background: #6a0406c7;
        color: #fff;
      }
    }

    h3 {
      display: block;
      margin: 0;
      margin-bottom: 20px;
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 35px;
      line-height: 100%;
      color: #454747;
    }

    cite {
      font-style: normal;
    }

    a {
      text-decoration: underline;
      text-decoration-skip-ink: none;
    }
  }

  .reviews__support {
    display: none;
  }

  @media (max-width: 1279px) {
    .reviews__thumbs {
      position: relative;
      max-width: max-content;
      margin-left: auto;
      margin-right: auto;
      bottom: initial;
      right: initial;

      .swiper-slide {
        width: max-content;

        img {
          width: 160px;
          display: block;
          height: 160px;
          object-fit: cover;
          border-radius: 25px;
        }
      }
    }
    .reviews__photo-big {
      max-width: 295px;
    }
    .reviews__slider-big {
      margin-bottom: 24px;
    }
    //   padding-top: 55px;
    //   padding-bottom: 55px;

    //   .reviews__grid::before {
    //     left: 0;
    //     right: 0;
    //     bottom: -6px;
    //     height: 210px;
    //   }

    //   .reviews__grid {
    //     display: block;
    //   }
  }

  @media (max-width: 767px) {
    padding-bottom: 38px;
    max-width: 100%;
    overflow-x: hidden;
    .reviews__slide {
      // display: block;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }
    .reviews__photo-big {
      max-width: 280px;
      margin: 0 auto;
    }
    .reviews__text span {
      display: none;
    }
    .reviews__text h3 {
      margin-bottom: 15px;
      font-size: 22px;
    }
    .reviews__text {
      font-size: 15px;
      margin-bottom: 0;

      blockquote {
        max-height: 220px;
        margin-bottom: 15px;
      }
    }
    .reviews__group::before {
      right: -20px;
      left: -20px;
      height: 190px;
    }

    .reviews__support {
      max-width: 225px;
      margin: 0;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 12px;
      line-height: 125%;
      color: #fff2f4;
      display: grid;
      gap: 12px;
      grid-template-columns: auto 1fr;
      margin-top: 15px;
    }
    .reviews__group {
      padding-bottom: 38px;
    }
    .reviews__thumbs .swiper-slide img {
      width: 90px;
      height: 90px;
    }
    //   padding-bottom: 46px;
    //   .reviews__grid {
    //     display: block;
    //   }

    //   .reviews__grid::before {
    //     left: -20px;
    //     right: -20px;
    //     bottom: -22px;
    //     height: 175px;
    //   }

    //   .reviews__slider-text h3 {
    //     font-size: 25px;
    //   }

    //   .reviews__slider-text {
    //     font-size: 14px;
    //   }

    //   .reviews__slider-text span {
    //     display: none;
    //   }

    //   .reviews__slider-big {
    //     margin-bottom: 20px;
    //   }
    //   .reviews__slider-min {
    //     margin-bottom: 15px;
    //   }
  }
}
