.sections-group {
  padding-top: 25px;
  padding-bottom: 0;
  border-radius: 25px;
  padding-inline: 20px;
  margin-top: -32px;
  position: relative;
  background-color: #fff;
  background-image: url(../img/bg/texture.png);
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 767px) {
    padding-top: 0;
    padding-bottom: 0;
    padding-inline: 0;
  }

}
