.steps {
  background-color: var(--black);
  background-image: url(../img/bg/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  border-radius: 32px;
  padding-top: 130px;
  padding-bottom: 555px;
  .section-label {
    color: rgba(245, 245, 245, 0.35);
    border: 1px solid rgba(245, 245, 245, 0.35);
  }
}
