.steps {
  background-color: var(--black);
  background-image: url(../img/bg/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  border-radius: 32px;
  padding-top: 130px;
  padding-bottom: 492px;
}
