.button {
  text-decoration: none;
  cursor: pointer;
  max-width: max-content;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;

  line-height: 1;
  transition: all 0.3s;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 17px;
  color: #80541d;
  border-radius: 15px;
  padding: 25px 45px;
  height: 65px;
  box-shadow: 0 6px 12px 0 rgba(27, 8, 8, 0.54), 0 22px 22px 0 rgba(27, 8, 8, 0.47), 0 50px 30px 0 rgba(27, 8, 8, 0.28), 0 89px 36px 0 rgba(27, 8, 8, 0.08), 0 140px 39px 0 rgba(27, 8, 8, 0.01), 0 3px 0 0 #90774e;
  background: linear-gradient(90deg, #ebb877 0%, #fee5bc 50%, #facd96 100%);



  &:hover {
    box-shadow: 0 6px 12px 0 rgba(27, 8, 8, 0.54), 0 22px 22px 0 rgba(27, 8, 8, 0.47), 0 50px 30px 0 rgba(27, 8, 8, 0.28), 0 89px 36px 0 rgba(27, 8, 8, 0.08), 0 140px 39px 0 rgba(27, 8, 8, 0.01), 0 3px 0 0 #90774e, inset 0 0 10px 0 #fff;
    background: linear-gradient(90deg, #ebb877 0%, #fee5bc 50%, #facd96 100%);
  }

  &:active {
    box-shadow: 0 6px 12px 0 rgba(27, 8, 8, 0.54), 0 22px 22px 0 rgba(27, 8, 8, 0.47), 0 50px 30px 0 rgba(27, 8, 8, 0.28), 0 89px 36px 0 rgba(27, 8, 8, 0.08), 0 140px 39px 0 rgba(27, 8, 8, 0.01), 0 3px 0 0 #90774e, inset 0 4px 15px 0 #80541d;
    background: linear-gradient(90deg, #ebb877 0%, #fee5bc 50%, #facd96 100%);
  }

  &--red {
    box-shadow: 0 3px 0 0 #8c2229;
    background: linear-gradient(90deg, #b71b25 0%, #c24a52 50%, #b71b25 100%);
    color: #fff;

    &:hover {
      color: #80541d;
      box-shadow: 0 6px 12px 0 rgba(27, 8, 8, 0.54), 0 22px 22px 0 rgba(27, 8, 8, 0.47), 0 50px 30px 0 rgba(27, 8, 8, 0.28), 0 89px 36px 0 rgba(27, 8, 8, 0.08), 0 140px 39px 0 rgba(27, 8, 8, 0.01), 0 3px 0 0 #90774e, inset 0 0 10px 0 #fff;
      background: linear-gradient(90deg, #ebb877 0%, #fee5bc 50%, #facd96 100%);
    }

    &:active {
    color: #80541d;
      box-shadow: 0 6px 12px 0 rgba(27, 8, 8, 0.54), 0 22px 22px 0 rgba(27, 8, 8, 0.47), 0 50px 30px 0 rgba(27, 8, 8, 0.28), 0 89px 36px 0 rgba(27, 8, 8, 0.08), 0 140px 39px 0 rgba(27, 8, 8, 0.01), 0 3px 0 0 #90774e, inset 0 4px 15px 0 #80541d;
      background: linear-gradient(90deg, #ebb877 0%, #fee5bc 50%, #facd96 100%);
    }
  }

  &--mod {
    border: 1px solid var(--white-005);
    border-radius: 15px;
    padding: 20px 30px;
    backdrop-filter: blur(45px);
    background: rgba(0, 0, 0, 0.05);
    font-family: var(--second-family);
    color: rgba(255, 255, 255, 0.85);
    box-shadow: none;

    &:hover {
      // box-shadow: 0 3px 0 0 #8c2229;
      // background: linear-gradient(90deg, #b71b25 0%, #c24a52 50%, #b71b25 100%);
      // color: #fff;
      backdrop-filter: blur(45px);
      background: rgba(0, 0, 0, 0.05);
      background-image: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.2) 100%);


    }


  }

  &.isActive {
    color: var(--white);

    &::before {
      background-color: var(--green);
    }
  }

  @media (max-width: 1023px) {
    font-size: 14px;
  }

  @media (max-width: 767px) {
    height: 60px;
    font-size: 16px;

    &--small {
      height: 45px;
    }
  }
}
