.form {
  &__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);

    &--three {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &__input {
    input {
      border: 1px solid var(--line);
      outline: none;
      border-radius: 20px;
      padding: 0px 16px;
      width: 100%;
      height: 56px;
      font-size: 16px;
      &:hover,
      &:active,
      &:focus {
        border: 1px solid var(--green);
      }
    }

    label {
      font-weight: 400;
      font-size: 15px;
      display: inline-block;
      margin-bottom: 13px;
    }
  }

  &__agree {
    grid-column: span 2;
    font-weight: 400;
    font-size: 15px;
    align-self: center;
    display: flex;
    align-items: center;

    a {
      color: var(--green);

      &:hover,
      &:active,
      &:focus {
        text-decoration: underline;
      }
    }

    label {
      position: relative;
      padding-left: calc(15px + 32px);
      // margin-bottom: 0;
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 5px;
        left: 9px;
        width: 16px;
        height: 16px;
        opacity: 0;
        transition: opacity 0.3s;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 7L6.75758 13L15 1' stroke='white' stroke-width='2' stroke-linecap='round'/%3e%3c/svg%3e ");
        background-repeat: no-repeat;
        background-size: contain;
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: -5px;
        left: 0;
        transition: all 0.3s;
        background: var(--white);
        border: 1px solid var(--line);
        border-radius: 12px;
        width: 32px;
        height: 32px;
      }
    }
    input:checked + label::before {
      background: var(--green);
      border: 1px solid var(--green);
    }
    input:checked + label::after {
      opacity: 1;
    }
  }

  &__submit {
  }
  &__button {
    max-width: 100%;
    width: 100%;
  }
  @media (max-width: 767px) {
    &__grid {
      gap: 12px;
    }
    &__grid--three {
      grid-template-columns: repeat(1, 1fr);
    }
    &__agree {
      grid-column: initial;
    }
    &__input {
      input {
        height: 50px;
      }
    }
    &__agree {
      padding-top: calc(25px - 12px);
      padding-bottom: calc(25px - 12px);
      a {
        color: var(--violet);
      }
    }
    .button {
      height: 50px;
    }
  }
}
