.logo {
  max-width: 360px;
  display: grid;
  gap: 32px;
  grid-template-columns: auto 1fr;

  &__link {
    display: block;
    max-width: 150px;
    position: relative;
    display: flex;
    align-items: center;

    &::after {
      content: "";
      display: block;
      position: absolute;
      right: -16px;
      top: 0;
      height: 100%;
      width: 1px;
      background-color: #fff;
    }
  }

  &__label {
    margin: 0;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 11px;
    line-height: 136%;
    color: rgba(245, 245, 245, 0.55);
  }
}
