.navigation {
  max-width: 100%;
  width: 100%;
  color: inherit;

  &__list {
    display: flex;
    flex-wrap: wrap;
    max-width: calc(100% + 32px);
    margin-right: -32px;
    justify-content: center;
  }

  &__item {
    margin-right: 32px;
    max-width: max-content;
  }

  &__link {
    display: inline-block;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #fff2f4;
    padding: 16px 0;
    opacity: 0.55;
    transition: all 0.3s;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 1px;
      height: 2px;
      -webkit-transition:
        opacity 0.3s,
        color 0.3s,
        width 0.3s;
      transition:
        opacity 0.3s,
        color 0.3s,
        width 0.3s;
      opacity: 0;
      background-color: #ffffff;
    }

    &:hover,
    &:active,
    &:focus {
      color: #ffffff;
      opacity: 1;
      &::after {
        width: 100%;
        opacity: 1;
      }
    }
  }

  &__item:has(ul) {
    grid-row: span 2;
  }

  &__item--to-last {
    grid-column: 3;
  }

  &__sub-link {
    font-size: 16px;
    line-height: 2;
    color: inherit;
    position: relative;
    display: grid;
    gap: 8px;
    align-items: center;
    grid-template-columns: auto 1fr;

    &::before {
      content: "";
      display: block;
      width: 16px;
      height: 2px;
      background-color: var(--green);
    }
  }

  @media (max-width: 767px) {
    &__link {
      font-size: 16px;
    }
  }
}
